.title{
  text-align: center;
}


.example-card {
  align-items: center;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #4F6380;
  width: 550px;
}

.footer{
  padding-right: 15rem;
  float: right;
}
